body  { 
    font-family: 'DroidArabicKufiRegular'; 
    font-weight: normal; 
    font-style: normal; 
 }


.card-img-top {
    height: 230px;
     width: 100%;
}
.border{
    border: 1px;
     border-color: black;
      border: solid;
}
p{
    text-align: center;
}

footer{
    color: white;
    background-color: #2E2B47;

}

.Description{
text-align: right;
}

  


